<!DOCTYPE html>
<html>
    <head>
        <title>{{name.name}}:{{name.name}}</title>
    </head>
    <body>
        <div>
            {{name.id}}: {{name.name}} -
            {{score_id}}
        </div>
        <hr>
        <a href="{{ url_for('edit', name_id=name.id) }}">Edit</a>
               
        <form method="POST"
                action="{{ url_for('delete', name_id=name.id) }}">
            <input type="submit" value="Delete name"
                onclick="return confirm('Are you sure you want to delete this entry?')">
            </form>
    </body>
</html>